prueba1/prueba1/prueba1.iml
prueba1/prueba1/src/test
prueba1/prueba1/.idea
prueba1/prueba1/..gitignore.swp


prueba2/prueba2/prueba2.iml
prueba2/prueba2/src/test
prueba2/prueba2/.idea
prueba2/prueba2/..gitignore.swp


prueba3/prueba3/prueba3.iml
prueba3/prueba3/src/test
prueba3/prueba3/.idea
prueba3/prueba3/..gitignore.swp


prueba4/prueba4/prueba4.iml
prueba4/prueba4/src/test
prueba4/prueba4/.idea
prueba4/prueba4/..gitignore.swp


prueba5/prueba5/prueba5.iml
prueba5/prueba5/src/test
prueba5/prueba5/.idea
prueba5/prueba5/..gitignore.swp


